body{
	width:100%;
	height:100%;
}

div {
    border: 0px;
    padding: 0px 0px 0px; 
    margin: 0px;
    position: relative;
}

#line_chart1{
	border: 0px;
    padding: 0px 0px 0px; 
    margin: 0px;
	width: 50%;
	float:left;
}

#line_chart2{
	border: 0px;
    padding: 0px 0px 0px; 
    margin: 0px;
	width: 50%;
	float:left;
};

.line_chart_svg {
	width: 100%;
	height: 100%;
	float: left;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 4px;
  stroke-linecap:round;
  stroke-linejoin:round;
/*  opacity:0.7;
*/}



.axis{
	font: sans-serif;
}

.axis .xminor line {
  stroke: black;
  stroke-dasharray: 6,6;
/*  opacity:0.5;
*/}
.axis .yminor line {
  stroke: black;
  stroke-dasharray: 2,2;
/*  opacity:0.5;
*/}