#map{
    height: 100%;
    width: 100%;
    /*position: relative;*/
}

/*quick way to fix map... maybe*/
#map svg{
    width: inherit;
    height: inherit;
}

#map2 svg{
    height: inherit;
    width: inherit;
}

/*heat map on off button*/
#heatButton {
    width: 20vh;
    height: 6vh;
    font-size: 3vh;
    background-color: #222;
    border: 1px solid black;  
    color: white;
}

/* WEATHER ICON*/
.weatherWrapper{
    width: 20vh;
    height: 20vh;
}

#weatherIconBox {
    float: left;
    width: 100%;
    height: 80%;
}

#weatherIcon {
    max-width: 100%;
    max-height: 90%;
}

#tempBox{
    font-size: 3vmin;
    float: left;
    width: 100%;
    height: 20%;
    text-align: center;
}

#textBox{
    float: left;
    width: 100%;
    height: 100%;
}

#tempVal{
    font-family: sans-serif;
    font-weight: bold;
}

/*heat map legend*/
.legend {
    /*position: absolute;*/
    line-height: 2.5vh;
    background-color: #222;
    color: white;
    width: 20vh;
    border: black 1px solid;
    padding: 5px;
}

.legend p{
    font-size: 2.5vh;
}

.legend i {
    width: 2.5vh;
    height: 2.5vh;
    border-radius: 2.5vh;
    float: left;
    margin-right: 8px;
    opacity: 1;
    border: white 1px solid;
}

/*spinner*/
.animationControl {
    margin-left: 20%;
    height: 3.5vh;
}

.animationControl p{
    color: #222;
    width: 25%;
    float: left;
}

.animationControl .ui-spinner{
    height: 100%;
    font-size: 2.5vh;
    float: left;
}

.animationControl .ui-spinner .ui-spinner-input{
    width: 50%;
    height: 100%;
    font-size: 2.5vh;
}

/*control buttons*/
#pause, #close{
    width: 3.5vh;
    height: 3.5vh;
    float: left;
    margin-left: 10px;
    opacity: 0.7;
}

/*station information pannel*/
.stationInformation{
    background-color: #222;
    color: white;
    width: 30vh;
    padding: 5px;
}

.stationInformation h5{
    font-size: 3vh;
}

.stationInformation p{
    font-size: 2.5vh;
}

#flow{
    font-size: 1.5vh;
}

#flow .ui-corner-left{
    float: left;
    width: 5vh;
    height: 5vh;
    border-radius: 5vh;
    /*background-color: red;*/
}

#flow .ui-corner-right{
    float: right;
    width: 5vh;
    height: 5vh;
    border-radius: 5vh;
    /*background-color: blue;*/
}