/* Only define colors here!! makes changes much easier */

.color_text {
	color:				#eee;
}

.color_header {
    color:				#3db7e4;
}

.color_bg {
	background-color:	#222;
}

.color_filter_bg {
	background-color:	#222; // #444;
}

.color_tab {
    color:				#3db7e4;
    background-color:	#222;
}

.color_tab a:hover {
    color:				black;
    background-color:	#888;
}

.color_tab li.active {
    color:				black;
    background-color:	#3db7e4;
}

.color_button {
	background-color:	#888;
}

.color_divvy {
	color:				black;
    background-color:	#3db7e4;
}

#graphselection li.active::before {
    color:				#3db7e4;
}

.subtitle {
	color:				black;
}
