@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900);

.left {
	position:			absolute;
	left:				0;
	width:				34vw;
	float:				left;
	height:				100vh;
	background-color:	black; // to make separation between maps visible
}

#map {
    border:				solid 1px #444;
	position:			absolute;
	left:				0%;
	width:				50%!important;
	top:				0%;
	height:				100%;
}

#map2 {
	position:			absolute;
	left:				50%;
	width:				50%;
	top:				0%;
	height:				100%;
	margin-left:		.1vw;
}

#center {
	position:			absolute;
	left:				34vw;
	width:				48vw;
	top:				0%;
	bottom:				0%;
}
