@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900);

.left {
	position:			absolute;
	left:				0;
	width:				34vw;
	float:				left;
	height:				100vh;
}

#map {
 	-webkit-box-sizing:	border-box;		/* Safari/Chrome, other WebKit */
	-moz-box-sizing:	border-box;		/* Firefox, other Gecko */
	box-sizing:			border-box;		/* Opera/IE 8+ */
    border:				solid 1px #444;
	position:			absolute;
	left:				0%;
	width:				50%!important;
	top:				0%;
	height:				100%;
}

#map2 {
 	-webkit-box-sizing:	border-box;		/* Safari/Chrome, other WebKit */
	-moz-box-sizing:	border-box;		/* Firefox, other Gecko */
	box-sizing:			border-box;		/* Opera/IE 8+ */
   border:				solid 1px #444;
	position:			absolute;
	left:				50%;
	width:				50%;
	top:				0%;
	height:				100%;
}

#center {
	position:			absolute;
	left:				34vw;
	width:				48vw;
	top:				0%;
	bottom:				0%;
}
