@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900);

* {
	padding:			0;
	margin:				4px;
}

html,body,div,svg,h1,h2,h3,h4,h5,h6,
p,a,ol,ul,li,table,canvas,
footer,header,menu,nav {
	-webkit-box-sizing:	border-box;		/* Safari/Chrome, other WebKit */
	-moz-box-sizing:	border-box;		/* Firefox, other Gecko */
	box-sizing:			border-box;		/* Opera/IE 8+ */
	// border:				solid #999 1px; // TODO: remove border
    font-size:			100%;
    font:				inherit;
    // vertical-align:		baseline;
    margin:				0;
    padding:			0;
}

menu, nav {
    display:			block
}

html, body {
	color:				orange;
	background-color:	#222;
	font-family:		Roboto, sans serif;
	margin-left:		auto;
	margin-right:		auto;
	position:			relative;
	height:				100%;
}

div {
	font-family:		inherit;
	font-size:			2rem;
	// border:				solid cyan 1px;
}
svg {
	font-family:		inherit;
	font-size:			.5rem;
	-webkit-box-sizing:	border-box;		/* Safari/Chrome, other WebKit */
	-moz-box-sizing:	border-box;		/* Firefox, other Gecko */
	box-sizing:			border-box;		/* Opera/IE 8+ */
	// border:				solid magenta 1px; // TODO: remove border
	width:				100%;
	height:				100%;
	// viewBox:			0 0 100 100;
	// preserveAspectRatio: xMaxYmax;
}

h1 {
	padding-left:		4%;
	padding-right:		4%;
	font-size:			4vh;
}

h2 {
	font-size:			4vh;
	text-align:			center;
}

h3, h4, h5, h6 {
	font-size:			3vh;
}

li {
	font-size:			4vh;
}
	
p {
	font-size:			3vmin;
}

.left {
	position:			absolute;
	left:				0%;
	width:				30%;
	float:				left;
	height:				100%;
}

.center {
	position:			absolute;
	left:				30%;
	width:				55%;
	height:				100%;
}

.right {
	position:			absolute;
	left:				85%;
	width:				15%;
	height:				100%;
	background-color:	#444;
}


/* LEFT */

/* TODO: try to move map options to left - (slide in) */
/*
#mapmenu {
	position:			absolute;
	left:				0%;
	top:				0%;
	width:				20%;
	min-height:			100%;
	font-size:			1rem;
} */

#map {
	position:			absolute;
	left:				0%;
	width:				100%;
	top:				0%;
	min-height:			100%;
	font-size:			.5rem;
	cursor:				crosshair;
	background-color:	#444;
}


/* CENTER */

#titlebar1 {
	position:			absolute;
	top:				0%;
    left:				0%;
	height:				4%;
	width:				50%;
    font-size:          3vh;
    text-align:         center;
}

#chart1 {
	position:			absolute;
	top:				4%;
	bottom:				0%;
	left:				0%;
	width:				50%;
    height:             43%;
	font-size:			.5rem;
}

#titlebar2 {
	position:			absolute;
	top:				0%;
    left:				50%;
	height:				4%;
	width:				50%;
    font-size:          3vh;
    text-align:         center;
}

#chart2 {
	position:			absolute;
	top:				4%;
	bottom:				0%;
	left:				50%;
	width:				50%;
    height:             43%;
	font-size:			.5rem;
}

#titlebar3 {
	position:			absolute;
	top:				47%;
    left:				0%;
	height:				4%;
	width:				50%;
    font-size:          3vh;
    text-align:         center;
}

#chart3 {
	position:			absolute;
	top:				51%;
	bottom:				0%;
	left:				0%;
	width:				50%;
    height:             43%;
	font-size:			.5rem;
}

#titlebar4 {
	position:			absolute;
	top:				47%;
    left:				50%;
	height:				4%;
	width:				50%;
    font-size:          3vh;
    text-align:         center;
}

#chart4 {
	position:			absolute;
	top:				51%;
	bottom:				0%;
	left:				50%;
	width:				50%;
    height:             43%;
	font-size:			.5rem;
}

.graphicons {
	position:			relative;
	top:				0%;
	left:				0%;
	height:				100%;
	width:				20%;
}

#centertitle {
	position:			absolute;
	top:				0%;
	left:				0%;
	height:				100%;
	right:				20%;
}

#graph {
	position:			absolute;
	top:				0%;
	left:				0%;
	width:				100%; 
	height:				100%;
}

.icon {
	width:				40px;
	height:				40px;
	fill:				#555;
	stroke:				#111;
	border:				none;
}

.icon:hover {
	fill:				orange;
	stroke:				#000;
}

/* RIGHT BAR */

#graphselection {
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-top:		.6em;
    position: absolute;
    left: 0%;
    width: 100%;
    bottom: 0%;
    display: block; // table;
}
#graphselection li {
    display: block; // table;
}
#graphselection a {
    padding-left: 10px;
    color: orange;
    background-color: #222;
    display: block;
    width: 100%;
    cursor: pointer;
    height: 6vh;
	// text-transform: uppercase;
}
#graphselection a:hover {
    color: black;
    background-color: #888;
}
#graphselection a:active {
    color: black;
    background-color: blue;
}
#graphselection li.active a {
    color: black;
    background-color: orange;
	font-weight: 600;
}
#graphselection li.active {
    position: relative;
}
#graphselection li.active::before {
    content: "";
    width: 0px;
    height: 0px;
    border: 0.4em solid transparent;
    position: absolute;
    left: -0.9em;
    top: 40%;
    border-right: .6em solid orange;
}

/* HTML ELEMENTS */

.dropdown {
    max-width:          80%;
    margin-left:        10%;
    margin-bottom:      2%;
}

.inputnumber {
    width:         20%;
    height:         9%;
    margin-left:        40%;
    margin-top:         1%;
}


/* FILTERS */

#dynamicfilter {
	width: 100%;
}

.filter {
	font-size: .5em;
}

.filter p {
	font-size: .8em;
	padding-left: 20%;
}

.filter h3 {
	padding-left: 4%;
}

.filterbutton {
	margin-left: auto;
	margin-right: auto;
	margin-top: 4vh;
	width: 100%;
}

#filtertable {
	padding: 4% 10% 0% 10%;
	width: 100%;
}

th {
	text-align: right;
	font-weight: 300;
}

td {
	padding-left: 10%;
	width: 100%;
}

.buttonwrapper {
	text-align: center;
}

.filterbutton {
    background-color: #222;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 0px; // 6px;
    color: orange;
    text-decoration: none;
    cursor: poiner;
    border: none;
	width: 80%;
	padding-top: 2%;
	padding-bottom: 2%;
}



.filterbutton:hover {
    color: black;
    background: orange;
    box-shadow: 0px 0px 1px #777;
    border: solid 1px black;
}


form {
	font-size: 4vh;
}





/* Filter selection menu */

#filterselection {
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    display: block; // table;
	padding-bottom: 5vh;
}
#filterselection li {
    display: block; // table;
}
#filterselection a {
    padding-left: 10px;
    color: orange;
    background-color: #222;
    display: block;
    width: 100%;
    cursor: pointer;
    height: 6vh;
}
#filterselection a:hover {
    color: black;
    background-color: #888;
}
#filterselection a:active {
    color: black;
    background-color: blue;
}
#filterselection li.active a {
    color: black;
    background-color: orange;
}

/*
#descriptioncolumn {
	width: 50px;
}

#attributecolumn {
	width: 200px;
}
*/
